{
	"kunlunheader":{
//		"scope": "csharp",
		"prefix": "kunlunheader",
		"body": [
			"$LINE_COMMENT/ author:zhanyuxin",
			"$LINE_COMMENT/ time:$CURRENT_YEAR-$CURRENT_MONTH-$CURRENT_DATE",
			"$LINE_COMMENT/ desc:"
		]
	}
}